
.footer_container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--header-footer);
  padding-block: 1rem;
}

.footer_info_list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  gap: 2rem;
  margin-inline: 5%;
}

.footer_info_element {
  max-width: 55%;
}

.footer_info_element > p{
  font-family: 'Lato', sans-serif;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 1.2rem;
  margin: 0;
}