.header_container{
  background-color: var(--header-footer); 
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight:normal;
  /* font-weight: bold; */
  text-decoration: none;
  font-size: 1rem;
  width: 100%;
  margin-inline: 5%;
}

.nav_left{
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* NOTE:  z jakiegoś powodu to nie działa, gdy link do czegoś prowadzi */
.nav_left > li >  a{
  text-decoration: none;
}

.nav_right{
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
}


/* NOTE:  z jakiegoś powodu to nie działa, gdy link do czegoś prowadzi */
.nav_right > li > a{
  text-decoration: none;
}