
.header_container{
    background-color: var(--contact_dark);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 2rem;
    padding-inline: 5%;
}

.main_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5rem;
    width: 100%;
    margin-inline: 5%;
}


.nav_left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_left a{
    text-decoration: none;
}

.nav_right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.nav_right a{
    text-decoration: none;
}